<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Epic Pet Clinic">

    <title>Epic Pet Clinic</title>

    <script src="/lib/htmx.min-2.0.2.js"></script>
    <script src="/lib/hyperscript.min-0.9.12.js"></script>

    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<h1 class="text-4xl">Epic Pet Clinic</h1>
<p>
    This is the home page for the Epic Pet Clinic.
</p>
</body>
